Django==1.11.1
gunicorn==19.7.1
django-compressor>=1.4
django-modelcluster>=0.6
django-storages==1.5.2
wagtail==1.10.1
django-taggit>=0.14.0
django-libsass>=0.2
libsass==0.8.2
Pillow==3.2.0
html5lib==0.999999
dj_database_url==0.4.2
psycopg2==2.7.1
whitenoise==3.3.0
boto3==1.4.4
pytest==3.4.2
pytest-django==3.4.2

# Dependencies for hosting
django-redis==4.8.0
elasticsearch==1.2.0
