{% load app_tags wagtailcore_tags %}
<div class="4u 12u(mobile)">
  <section>
    <header>
      <h2>Contact Us</h2>
    </header>
    {% socials %}
    <ul class="contact">
      {% if contact %}
        <li>
          <h3>Address</h3>
          <p>18a Ferntower Road<br>
            London<br>
            N5 2JH, United Kingdom</p>
          </li>
          <li>
            <h3>Mail</h3>
            <p><a href="mailto:contact@creativeopportunities.co.uk">contact@creativeopportunities.co.uk</a></p>
          </li>
          <li>
            <h3>Phone</h3>
            <p>+447593084393</p>
          </li>
      {% else %}
        <li>
          <h3>Address</h3>
          <p>18a Ferntower Road<br>
            London<br>
            N5 2JH, United Kingdom</p>
        </li>
        <li>
          <h3>Mail</h3>
          <p><a href="#">contact@creativeopportunities.co.uk</a></p>
        </li>
        <li>
          <h3>Phone</h3>
          <p>+447593084393</p>
        </li>
      {% endif %}
    </ul>
  </section>
</div>
