{% load app_tags wagtailcore_tags %}
{% get_site_root as site_root %}

{# Shows top level links and their children #}
<div class="row">
  <div class="12u">
    <section id="header">
      <h1><a href="{% pageurl site_root %}" title="{{ site_root.title }}">{{ site_root.title }}</a></h1>
      <nav id="nav" class="mobileUI-site-nav">
        <ul>
          {% for menuitem in menuitems %}
          <li class="{% if menuitem.active %}current_page_item{% endif %}">
            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            {% if menuitem.show_dropdown %}
                {% top_menu_children parent=menuitem %}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </section>
  </div>
</div>
