{% load wagtailcore_tags wagtailimages_tags %}

{% if feed_image %}
    {% image feed_image original as img %}
    <a href="" class="image featured"><img src="{{ img.url }}" alt=""></a>
{% else %}

    {% if banner_image %}
        {% image banner_image original as img %}
        <section id="banner" style="background: #CCE8F4 url('{{ img.url }}')">
    {% else %}
        <section id="banner">
    {% endif %}

    {% if banner_header %}
            <header>
                <h2>{{ banner_header }}</h2>
    {% if banner_caption %}
                <p>{{ banner_caption }}</p>
    {% endif %}
            </header>
    {% endif %}
{% endif %}
    </section>
