{% extends "app/base.html" %}

{% load app_tags wagtailcore_tags static %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
    <section id="banner">
        <header>
            <h2>Welcome to Creative Opportunities</h2>
            <p>Celebrating the arts across London</p>
        </header>
    </section>
    {% include "app/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
    {% include "app/includes/pennants.html" with pennant_items=self.pennant_items.all only %}
      <footer>
    <ul class="actions">
      <li><a href="#" class="button big">Get Started</a></li>
      <li><a href="#" class="button alt big">Learn More</a></li>
    </ul>
  </footer>
{% endblock %}

{% include "app/includes/banner.html" with feed_image=self.feed_image only %}
 
{% include "app/includes/related_links.html" with related_links=self.related_links.all only %}
