{% extends "app/base_no_sidebar.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<header class="major">
    <h2>{{ self.title }}</h2>
</header>
<div class="row">
{% if self.get_children %}
    {% for page in self.get_children %}
        {% include "app/includes/page_list_item.html" %}
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
    {% endfor %}
{% endif %}
</div>
{% include "app/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
