{% extends "app/base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% if self.sidebar == "left" %}
        <div class="row">
            <div class="4u 12u(mobile)">
                {% include "app/includes/sidebar.html" with sidebar_items=self.sidebar_items.all %}
            </div>
            <div class="8u 12u(mobile) important(mobile)">
                <article class="box post">
                    {% include "app/includes/banner.html" with feed_image=self.feed_image only %}
                    {{ self.body|richtext }}
                    {% include "app/includes/related_links.html" with related_links=self.related_links.all only %}
                </article>
            </div>
        </div>
    {% elif self.sidebar == "right" %}
        <div class="row">
            <div class="8u 12u(mobile)">
                <article class="box post">
                    {% include "app/includes/banner.html" with feed_image=self.feed_image only %}
                    {{ self.body|richtext }}
                    {% include "app/includes/related_links.html" with related_links=self.related_links.all only %}
                </article>
            </div>
            <div class="4u 12u(mobile)">
                {% include "app/includes/sidebar.html" with sidebar_items=self.sidebar_items.all %}
            </div>
        </div>
    {% else %}
        <article class="box post">
            {% include "app/includes/banner.html" with feed_image=self.feed_image only %}
            {{ self.body|richtext }}
            {% include "app/includes/related_links.html" with related_links=self.related_links.all only %}
        </article>
    {% endif %}
{% endblock %}
